/* general */
h1, h2, h3, h4, h5{
    font-family: 'Nunito', sans-serif!important;
}
/* navbar */
.navbar{
    color: #25466C!important;
}
.navbar .container .row{
    width: 100%!important;
}
.navbar i{
    padding-right: 10px;
}
/*sezione 1 con logo*/
.logo{
    height: 150px;
}

/*sezione 2 con icone*/
.icon{
    width: 20rem;
    fill: #3D76B8;
}

/*sezione team*/
.testimonials .testimonial-item img{
    max-width: 18rem;
}

/**/
.other{
    background-color: #fff;
}

.showcase h1{
    padding: 40px 0;
}